<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juhuangxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{76,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,108}}</string>
                <key>sourceSize</key>
                <string>{78,110}</string>
            </dict>
            <key>pj_anniudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,2},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,84}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>pj_dangqianjushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>pj_fangweibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{132,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,50}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>pj_fangweibuliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{149,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,148}}</string>
                <key>sourceSize</key>
                <string>{151,150}</string>
            </dict>
            <key>pj_fangweidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{50,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,132}}</string>
                <key>sourceSize</key>
                <string>{52,134}</string>
            </dict>
            <key>pj_fangweihong.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,106},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>pj_fangweihuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,107},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>pj_fangweinan.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{132,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,50}}</string>
                <key>sourceSize</key>
                <string>{134,52}</string>
            </dict>
            <key>pj_fangweixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{50,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,132}}</string>
                <key>sourceSize</key>
                <string>{52,134}</string>
            </dict>
            <key>pj_fangweizhuanpandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{171,170}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>pj_jifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,153},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,18}}</string>
                <key>sourceSize</key>
                <string>{48,20}</string>
            </dict>
            <key>pj_jifengdikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,136},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,29}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>pj_liaotiananniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{51,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,41}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>pj_paizhengqiancai.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{70,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,103}}</string>
                <key>sourceSize</key>
                <string>{72,105}</string>
            </dict>
            <key>pj_paizhengshangcai.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,112},{56,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,81}}</string>
                <key>sourceSize</key>
                <string>{58,83}</string>
            </dict>
            <key>pj_paizhengshanghengcai.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,55},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,41}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>pj_shezhianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,102},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>pj_touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>pj_tuichuanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,106},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,45}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>pj_yuyinganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,128},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,52}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>pj_zhibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,136},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,36}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>pj_zhidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,136},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,41}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>pj_zhinan.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,136},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>pj_zhinengmoshianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,88},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,54}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>pj_zhixi.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,136},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>zhongjianchaishendi.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,136},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,42}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paiJu.png</string>
            <key>size</key>
            <string>{973,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b162388818816616cb2a24f397ce9719:a8806bebd9e2ef130b3ed1ac496f35f6:411cf7247ee17c423fe60165773037f0$</string>
            <key>textureFileName</key>
            <string>paiJu.png</string>
        </dict>
    </dict>
</plist>
