<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pj_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{62,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{646,1},{62,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{708,182},{52,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{48,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{261,61},{48,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{498,121},{50,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{135,1},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{1,108},{64,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{199,1},{60,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{52,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{644,65},{52,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{496,1},{58,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{58,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{500,61},{58,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{637,179},{36,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{340,59},{50,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{610,227},{16,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{58,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{261,1},{58,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{66,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{1,189},{66,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,79}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{419,61},{50,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{124,182},{50,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{721,58},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{70,189},{52,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{261,111},{50,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{226,182},{40,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{719,1},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{570,173},{52,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{340,111},{50,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{176,182},{48,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{200,130},{50,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{414,165},{44,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,79}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{67,108},{50,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{571,123},{48,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{715,121},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{56,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{340,1},{56,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,79}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{135,78},{50,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{318,163},{46,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{571,1},{60,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{42,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{491,173},{42,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,77}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{419,113},{50,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{268,163},{48,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{571,63},{58,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{419,1},{58,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,79}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{119,130},{50,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{46,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{366,163},{46,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{68,79}</string>
                <key>textureRect</key>
                <string>{{646,119},{58,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_hengpeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,43}</string>
                <key>spriteSourceSize</key>
                <string>{47,43}</string>
                <key>textureRect</key>
                <string>{{216,78},{47,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_shou0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{414,211},{44,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_shou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,63}</string>
                <key>spriteSourceSize</key>
                <string>{28,63}</string>
                <key>textureRect</key>
                <string>{{480,227},{28,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_shou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_shou3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,63}</string>
                <key>spriteSourceSize</key>
                <string>{28,63}</string>
                <key>textureRect</key>
                <string>{{545,227},{28,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_zhipeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,83}</string>
                <key>spriteSourceSize</key>
                <string>{58,83}</string>
                <key>textureRect</key>
                <string>{{75,1},{58,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paiResList.png</string>
            <key>size</key>
            <string>{776,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0982f8530d0062d02031cf0cc4b158c1:517d9d0d12d12224021e0d69ae00770c:6129fc56704d2414e0c5fad1a90c6692$</string>
            <key>textureFileName</key>
            <string>paiResList.png</string>
        </dict>
    </dict>
</plist>
