<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{152,75}}</string>
                <key>sourceSize</key>
                <string>{154,77}</string>
            </dict>
            <key>anniu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,70},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,53}}</string>
                <key>sourceSize</key>
                <string>{117,55}</string>
            </dict>
            <key>anniu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,70},{115,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,53}}</string>
                <key>sourceSize</key>
                <string>{117,55}</string>
            </dict>
            <key>anniu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{158,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,66}}</string>
                <key>sourceSize</key>
                <string>{160,68}</string>
            </dict>
            <key>dikuang2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,88}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>dikuang5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{96,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,79}}</string>
                <key>sourceSize</key>
                <string>{98,81}</string>
            </dict>
            <key>dikuang6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{79,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,59}}</string>
                <key>sourceSize</key>
                <string>{81,61}</string>
            </dict>
            <key>dikuang6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{79,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,59}}</string>
                <key>sourceSize</key>
                <string>{81,61}</string>
            </dict>
            <key>gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,48}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>gouxuankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,63},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>peiyin_huangyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>peiying_putonghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{770,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a7cc90a0e26538154babc1e617d742f:85541deb2906c63070f5efc2d1dd368f:b9c870dc099f34bca3e3b2447514f602$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
