<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pj_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{60,69}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,69}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,73},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{50,51}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,79},{46,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{46,75}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,77},{48,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{48,69}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{60,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,73}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{64,79}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_134.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{58,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{58,73}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{50,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{50,73}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_144.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{56,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{56,71}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{56,67}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{56,67}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{34,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{34,67}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{48,75}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{14,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{14,71}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{56,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{56,75}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{64,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{64,65}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{48,77}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,77},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{48,71}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,73},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{50,59}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,75},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{50,63}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{48,75}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{38,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{38,71}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,71},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{54,53}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,75},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{50,63}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{48,75}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,77},{46,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{46,71}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,77},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{48,53}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,83},{42,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{42,73}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{48,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{48,77}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,79},{46,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{46,71}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{58,57}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{58,57}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{54,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{54,77}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,81},{44,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{44,73}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{58,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{58,71}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,85},{40,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{40,75}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{48,75}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,79},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{46,73}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{56,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{56,69}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{56,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{56,73}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{48,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{48,77}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,81},{44,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{44,73}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,69},{56,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{56,65}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>pj_hengpeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,81},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,41}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>pj_shou0.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,83},{42,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,62}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>pj_shou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,71},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>pj_shou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,103}}</string>
                <key>sourceSize</key>
                <string>{72,105}</string>
            </dict>
            <key>pj_shou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,61}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>pj_zhipeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{56,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,81}}</string>
                <key>sourceSize</key>
                <string>{58,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paiMian.png</string>
            <key>size</key>
            <string>{1469,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d83f51c3509e1c2e93709763fc466ed4:517d9d0d12d12224021e0d69ae00770c:b5e0e75b155a7e9c9821bfb1a36acd45$</string>
            <key>textureFileName</key>
            <string>paiMian.png</string>
        </dict>
    </dict>
</plist>
