<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jz_jingdutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,32},{700,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{700,24}}</string>
                <key>sourceSize</key>
                <string>{702,26}</string>
            </dict>
            <key>jz_jingdutiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{704,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{704,28}}</string>
                <key>sourceSize</key>
                <string>{706,30}</string>
            </dict>
            <key>weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{770,65}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c11bbdb737630ac1e6930d2a02fb0337:9469396e2d44bf32cdaa48fd268bd401:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
