<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{278,77}}</string>
                <key>sourceSize</key>
                <string>{280,79}</string>
            </dict>
            <key>anniu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{259,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{259,77}}</string>
                <key>sourceSize</key>
                <string>{261,79}</string>
            </dict>
            <key>dikuang6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,72}}</string>
                <key>sourceSize</key>
                <string>{89,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity.png</string>
            <key>size</key>
            <string>{635,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60a089a945bc67504ee33f5a84ee0ece:e0a3a80889f0b9e7df50300fe15747d9:f1ee0422222834884864523f7ea05860$</string>
            <key>textureFileName</key>
            <string>activity.png</string>
        </dict>
    </dict>
</plist>
