<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_paiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{163,415},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_paiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{238,1},{13,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_paiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{51,569},{17,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_paiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{75,569},{17,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4_paiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{163,541},{17,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_paiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{187,541},{17,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6_paiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{154,560},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_paiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{173,560},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_paiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{192,560},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_paiju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{211,566},{17,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_anniudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,86}</string>
                <key>spriteSourceSize</key>
                <string>{83,86}</string>
                <key>textureRect</key>
                <string>{{107,327},{83,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_dangqianjushu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,60}</string>
                <key>spriteSourceSize</key>
                <string>{126,60}</string>
                <key>textureRect</key>
                <string>{{176,1},{126,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_fangweibei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,52}</string>
                <key>spriteSourceSize</key>
                <string>{134,52}</string>
                <key>textureRect</key>
                <string>{{154,175},{134,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_fangweibuliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,150}</string>
                <key>spriteSourceSize</key>
                <string>{151,150}</string>
                <key>textureRect</key>
                <string>{{1,175},{151,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_fangweidong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,134}</string>
                <key>spriteSourceSize</key>
                <string>{52,134}</string>
                <key>textureRect</key>
                <string>{{1,433},{52,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_fangweihong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{192,321},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_fangweihuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{192,381},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_fangweinan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,52}</string>
                <key>spriteSourceSize</key>
                <string>{134,52}</string>
                <key>textureRect</key>
                <string>{{109,415},{134,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_fangweixi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,134}</string>
                <key>spriteSourceSize</key>
                <string>{52,134}</string>
                <key>textureRect</key>
                <string>{{55,433},{52,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_fangweizhuanpandi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,172}</string>
                <key>spriteSourceSize</key>
                <string>{173,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_jifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,20}</string>
                <key>textureRect</key>
                <string>{{1,569},{48,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_jifengdikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,31}</string>
                <key>spriteSourceSize</key>
                <string>{34,31}</string>
                <key>textureRect</key>
                <string>{{221,441},{34,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_liaotiananniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,43}</string>
                <key>spriteSourceSize</key>
                <string>{53,43}</string>
                <key>textureRect</key>
                <string>{{208,266},{53,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_shezhianniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{163,490},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_touxiangkuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1,327},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_tuichuanniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{163,441},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_yuyinganniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,54}</string>
                <key>textureRect</key>
                <string>{{208,172},{45,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_zhibei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{214,490},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pj_zhidong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,43}</string>
                <key>textureRect</key>
                <string>{{109,551},{33,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_zhinan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{208,228},{36,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_zhinengmoshianniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{176,129},{41,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pj_zhixi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{214,530},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameResList.png</string>
            <key>size</key>
            <string>{254,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cbe7938411d31b1bb79632ce18c4635:b3a1370b66923faa0c23dfef7b9766eb:421637b16023764c9f94d199c0c65296$</string>
            <key>textureFileName</key>
            <string>gameResList.png</string>
        </dict>
    </dict>
</plist>
