<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,326},{153,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{153,94}}</string>
                <key>sourceSize</key>
                <string>{155,96}</string>
            </dict>
            <key>anniu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{153,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{153,94}}</string>
                <key>sourceSize</key>
                <string>{155,96}</string>
            </dict>
            <key>anniu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{153,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{153,94}}</string>
                <key>sourceSize</key>
                <string>{155,96}</string>
            </dict>
            <key>biaoti_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{363,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{363,66}}</string>
                <key>sourceSize</key>
                <string>{365,68}</string>
            </dict>
            <key>dikuang1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,481},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,101}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>dikuang2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,194},{158,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{158,130}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>dikuang3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{190,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{190,162}}</string>
                <key>sourceSize</key>
                <string>{192,164}</string>
            </dict>
            <key>dikuang5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,584},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,69}}</string>
                <key>sourceSize</key>
                <string>{92,71}</string>
            </dict>
            <key>jrfj_hengxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,326},{45,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,7}}</string>
                <key>sourceSize</key>
                <string>{47,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>joinRoom.png</string>
            <key>size</key>
            <string>{234,677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71b450c670326345b1afd44a1a211fc0:8ed3d00fcc78f9a70fb1836d8b59d0dc:80d3ad1829b3cf81c79e1d1d13d1a5ad$</string>
            <key>textureFileName</key>
            <string>joinRoom.png</string>
        </dict>
    </dict>
</plist>
