<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_9guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cjfj_shuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,97},{6,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{6,44}}</string>
                <key>sourceSize</key>
                <string>{8,46}</string>
            </dict>
            <key>cjfj_yuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>cjfj_yuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,132},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,23}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>zi_jushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,29}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>zi_pangguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,30}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>zi_shouxufei.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{93,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,30}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>zi_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,97},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,29}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createRoom.png</string>
            <key>size</key>
            <string>{105,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e9d7c807a5d393f70598d9bc623c85a:db0b9db84c7cfbe22c7e8437031b0cd9:b1c47905897eaa0944c9121c44ea394d$</string>
            <key>textureFileName</key>
            <string>createRoom.png</string>
        </dict>
    </dict>
</plist>
