<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anniu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,182},{210,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,86}</string>
			</dict>
			<key>anniu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,268},{210,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,86}</string>
			</dict>
			<key>biankuangliangguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1008},{609,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{609,6}</string>
			</dict>
			<key>biaoti_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,953},{376,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,68}</string>
			</dict>
			<key>dikuang1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,0},{217,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,182}</string>
			</dict>
			<key>dikuang1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,0},{217,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,182}</string>
			</dict>
			<key>dikuang2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,118},{77,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,70}</string>
			</dict>
			<key>dikuang3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,558},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>
			<key>dikuang3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,566},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>
			<key>dikuang4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{59,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,62}</string>
			</dict>
			<key>dikuang4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,59},{59,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,62}</string>
			</dict>
			<key>dikuang5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,953},{136,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,52}</string>
			</dict>
			<key>ji_hengxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1014},{216,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,4}</string>
			</dict>
			<key>js_baoyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,420},{138,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,103}</string>
			</dict>
			<key>js_caidai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,578},{690,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{690,85}</string>
			</dict>
			<key>js_dayingjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,182},{185,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,131}</string>
			</dict>
			<key>js_fangpao.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,420},{146,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,94}</string>
			</dict>
			<key>js_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,0},{953,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{953,47}</string>
			</dict>
			<key>js_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,466},{105,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,102}</string>
			</dict>
			<key>js_lazi.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,953},{96,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,52}</string>
			</dict>
			<key>js_paijujieshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,953},{202,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,55}</string>
			</dict>
			<key>zs_anwen1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{471,578}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{471,578}</string>
			</dict>
			<key>zs_diaozhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,953},{50,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,152}</string>
			</dict>
			<key>zs_diwen1.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,354},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,74}</string>
			</dict>
			<key>zs_diwen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,428},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,74}</string>
			</dict>
			<key>zs_heye.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,354},{131,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,112}</string>
			</dict>
			<key>js_zimo.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,313},{141,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,107}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>jieSuan.png</string>
			<key>realTextureFileName</key>
			<string>jieSuan.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>