<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,134},{208,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{208,84}}</string>
                <key>sourceSize</key>
                <string>{210,86}</string>
            </dict>
            <key>anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,134},{208,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{208,84}}</string>
                <key>sourceSize</key>
                <string>{210,86}</string>
            </dict>
            <key>biankuangliangguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{607,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{607,4}}</string>
                <key>sourceSize</key>
                <string>{609,6}</string>
            </dict>
            <key>biaoti_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,49},{374,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{374,66}}</string>
                <key>sourceSize</key>
                <string>{376,68}</string>
            </dict>
            <key>dikuang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{215,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{215,180}}</string>
                <key>sourceSize</key>
                <string>{217,182}</string>
            </dict>
            <key>dikuang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,49},{215,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{215,180}}</string>
                <key>sourceSize</key>
                <string>{217,182}</string>
            </dict>
            <key>dikuang2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,220},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>dikuang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,223},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,86}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>dikuang3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,134},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,86}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>dikuang4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{57,60}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>dikuang4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,344},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{57,60}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>dikuang5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,286},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{134,50}}</string>
                <key>sourceSize</key>
                <string>{136,52}</string>
            </dict>
            <key>ji_hengxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,49},{214,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{214,2}}</string>
                <key>sourceSize</key>
                <string>{216,4}</string>
            </dict>
            <key>js_caidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{688,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{688,83}}</string>
                <key>sourceSize</key>
                <string>{690,85}</string>
            </dict>
            <key>js_dayingjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,266},{183,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{183,129}}</string>
                <key>sourceSize</key>
                <string>{185,131}</string>
            </dict>
            <key>js_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{951,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{951,45}}</string>
                <key>sourceSize</key>
                <string>{953,47}</string>
            </dict>
            <key>js_paijujieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,266},{200,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{200,53}}</string>
                <key>sourceSize</key>
                <string>{202,55}</string>
            </dict>
            <key>zs_anwen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{469,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{469,576}}</string>
                <key>sourceSize</key>
                <string>{471,578}</string>
            </dict>
            <key>zs_diaozhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,134},{48,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,150}}</string>
                <key>sourceSize</key>
                <string>{50,152}</string>
            </dict>
            <key>zs_diwen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,344},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>zs_diwen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,297},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>zs_heye.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,220},{129,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,110}}</string>
                <key>sourceSize</key>
                <string>{131,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jieSuan.png</string>
            <key>size</key>
            <string>{1533,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c2ba83ea6bfd25f0358b2deb4e15a2e:4a30da21e75c8714cb5a54cc34a25038:3b392693b888db486f1ccd7342f8d13d$</string>
            <key>textureFileName</key>
            <string>jieSuan.png</string>
        </dict>
    </dict>
</plist>
